
*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // Makes 1rem = 10px
}

body {
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Fira Code', monospace;
  background-color: #222129;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 90rem) 1fr;
}

.container {
  grid-column: 2/3;
}

.photo-link-container{
  display: flex;
  flex-direction: column;
}

.photo {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(/nick.jpg);
  align-self: center;
}

.link-container{
  align-self: center;
  padding: .4rem .4rem;
}

.link-icon {
  width: 3.3rem;
  height: 3.3rem;
  fill: #ffa86a;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}