
*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // Makes 1rem = 10px
}

body {
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Fira Code', monospace;
  background-color: #222129;
}

ul {
  /* Add back list styles after we add more projects */
  /* margin: 0; */
  /* padding-left: 1.2rem; */
  list-style: none;
}

.main-header {
  border-bottom: 3px dotted #ffa86a;
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
}

.main-header::after{
  content: "";
  position: absolute;
  bottom: 2px;
  display: block;
  width: 100%;
  border-bottom: 3px dotted #ffa86a;
}

h1, h3, p, li {
  padding-bottom: 1.4rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 90rem) 1fr;
}

.container {
  grid-column: 2/3;
  padding: 3rem;
}

.photo-link-container{
  display: flex;
  flex-direction: column;
  /* padding-top: 2rem; */
}

.photo {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(/nick.jpg);
  align-self: center;
}

.link-wrapper{
  align-self: center;
  padding: 1rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.link-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.link-icon {
  width: 4rem;
  height: 4rem;
  /* margin: .5rem; */
  fill: #ffa86a;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}